body {
  margin: 20px 40px;
  border: none;
  margin: 1;
  font-size: 16px;
 height: 10000px;
 font-family: 'Noto Sans SC', sans-serif;
 color: rgb(0, 0, 0)
}

h1 {
  font-size: 24px;
  margin: 0;
}