.adativetext{
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
  }

  input {
    font-weight: 500;
    border: 1px solid rgb(187, 187, 187);
    color: rgb(255, 255, 255);
    background-color: #0000006b;
    min-width: 90px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding: 4px 14px 4px 14px;
    border-radius: 6px;
  }

  button {
    font-weight: 500;
    border: 1px solid rgb(187, 187, 187);
    color: rgb(255, 255, 255);
    background-color: #0000006b;
    min-width: 90px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding: 4px 14px 4px 14px;
    border-radius: 6px;
}

select {
  font-weight: 500;
  border: 1px solid rgb(187, 187, 187);
  color: rgb(255, 255, 255);
  background-color: #0000006b;
  min-width: 90px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  padding: 4px 14px 4px 14px;
  border-radius: 6px;
}
  